@model NavigationBarViewModel

<div>
    <img src="@ContentHelper.GetUrlForResource(ContentType.images, "header.png")" alt="John Kidd Jr Header" class="pb-2" />
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-nav position-absolute translate-middle start-50">
                <a class="nav nav-link @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/", "nav-selected"))" href="/">Home</a>
                <a class="nav nav-link @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/portfolio", "nav-selected", false))" href="/portfolio">Portfolio</a>
                @* <a class="nav nav-link @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/objectives", "nav-selected", false))" href="/objectives">Objectives</a> *@
                <a class="nav nav-link @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/article", "nav-selected", false))" href="/article">Articles</a>
                <a class="nav nav-link @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/about", "nav-selected", false))" href="/about">About</a>
                <a class="nav nav-link @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/contact", "nav-selected", false))" href="/contact">Contact</a>
                @if (Model.AdminLoggedIn)
                {
                    <a class="nav nav-link @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/admin", "nav-selected", false))" href="/admin">Admin</a>
                }
            </div>
        </div>
    </nav>
    <hr class="drop-shadow" />
</div>