@model NavigationBarViewModel

<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <img src="@ContentHelper.GetUrlForResource(ContentType.images, "me-small.jpg")" style="width:100%">
    <a href="/" class="w3-bar-item w3-button w3-padding-large @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/", "w3-black", "w3-hover-black"))">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
    </a>
    <a href="/portfolio" class="w3-bar-item w3-button w3-padding-large @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/portfolio", "w3-black", "w3-hover-black", false))">
        <i class="fa fa-briefcase w3-xxlarge"></i>
        <p>PORTFOLIO</p>
    </a>
    <a href="/article" class="w3-bar-item w3-button w3-padding-large @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/article", "w3-black", "w3-hover-black", false))">
        <i class="fa-solid fa-newspaper w3-xxlarge"></i>
        <p>ARTICLES</p>
    </a>
    <a href="/about" class="w3-bar-item w3-button w3-padding-large @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/about", "w3-black", "w3-hover-black", false))">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
    </a>
    <a href="/contact" class="w3-bar-item w3-button w3-padding-large @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/contact", "w3-black", "w3-hover-black", false))">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>CONTACT</p>
    </a>
    @if (Model.AdminLoggedIn)
    {
        <a href="/admin" class="w3-bar-item w3-button w3-padding-large @(MainSite.Helpers.HtmlHelper.SelectedCssOnRequestPath("/admin", "w3-black", "w3-hover-black", false))">
            <i class="fa-solid fa-toolbox w3-xxlarge"></i>
            <p>ADMIN</p>
        </a>
    }
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="/" class="w3-bar-item w3-button" style="width:20% !important">HOME</a>
        <a href="/portfolio" class="w3-bar-item w3-button" style="width:20% !important">PORTFOLIO</a>
        <a href="/article" class="w3-bar-item w3-button" style="width:20% !important">ARTICLES</a>
        <a href="/about" class="w3-bar-item w3-button" style="width:20% !important">ABOUT</a>
        <a href="/contact" class="w3-bar-item w3-button" style="width:20% !important">CONTACT</a>
    </div>
</div>