@model PortfolioPageViewModel

<div class="portfolio">
    <h1>Portfolio</h1>
    <div class="section bodytext">
        <h2>Projects</h2>
        @if(Model.ProjectData != null)
        {
            <ul class="project-card-container">
                @foreach (var project in Model.ProjectData.Projects)
                {
                        <li class="project-card">
                            <a class="no-decoration" href="@Url.Action("ProjectLanding", new { slug = project.Slug })">
                                <h3 class="project-card-title"><span>@project.Name</span></h3>
                                <div class="project-card-section">
                                    <p class="project-card-description">@project.ShortDescription</p>
                                    @if (project.Images != null && project.Images.Any())
                                    {
                                        var image = project.Images.First();
                                        <div class="project-card-image">
                                            <img src="@(ContentHelper.GetUrlForResource(ContentType.images, image.ImageUrl))" alt="@image.AltText" />
                                        </div>
                                    }
                                </div>
                            </a>
                        </li>
                }
            </ul>
        }
        else
        {
            <span>No projects to show</span>
        }
    </div>
    @foreach (var group in Model.PortfolioData.LinkGroups)
    {
        <div class="section bodytext">
            <h2>@group.GroupName</h2>
            <ul>
                @foreach (var link in group.Links)
                {
                    <li>
                        <a href="@(link.Link)" target="_blank">@link.Text</a>
                    </li>
                }
            </ul>
        </div>
    }
</div>