@model ProjectViewModel

<h1 class="pb-3">@Model.Name</h1>

<div class="row py-2">
    @if(Model.Images != null)
    {
        <div class="col-3 offset-3">
            @if(Model.Images.Count > 1)
            {
                <div id="project-slideshow" class="carousel slide">
                    <div class="carousel-indicators">
                        @for(int i = 0; i < Model.Images.Count; i++)
                        {
                            <button type="button" data-bs-target="#project-slideshow" data-bs-slide-to="@i"
                                @(i == 0 ? Html.Raw("class='active' aria-current='true' ") : "")
                                aria-label="slide @(i + 1)"></button>
                        }
                    </div>
                    <div class="carousel-inner">
                        @for(int i = 0; i < Model.Images.Count; i++)
                        {
                            <div @(i == 0 ? Html.Raw("class='carousel-item active'") : Html.Raw("class='carousel-item'"))>
                                <img src="@(ContentHelper.GetUrlForResource(ContentType.images, Model.Images[i].ImageUrl))" class="d-block w-100" alt="@Model.Images[i].AltText" />
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#project-slideshow" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#project-slideshow" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
            else if(Model.Images.Count == 1 && !string.IsNullOrWhiteSpace(Model?.Images?.First()?.ImageUrl))
            {
                <div class="project-image">
                    <img src="@(ContentHelper.GetUrlForResource(ContentType.images, Model?.Images?.First()?.ImageUrl))" alt="@(Model.Name)" />
                </div>
            }
        <br /><br />
        </div>
    }

    <div
        @(Model.Images == null || !Model.Images.Any() ? Html.Raw("class='col-4 offset-4'") : Html.Raw("class='col-4'"))
    >
        @if (Model.ProjectType == "Programming")
        {
            <div class="bg-secondary text-white fs-5 fw-bold px-3 py-2 mt-2 rounded-top">
                Project Details
            </div>

            <div class="bg-light text-dark rounded-bottom p-2 border">
                @if (!string.IsNullOrWhiteSpace(Model.Platform))
                {
                    <div class="mb-2 row">
                        <div class="col-5 fw-bold text-start">Platform:</div>
                        <div class="col-7 text-start">@Model.Platform</div>
                    </div>
                }
                <div class="mb-2 row">
                    <div class="col-5 fw-bold text-start">Language Used:</div>
                    <div class="col-7 text-start">@Model.LanguageUsed</div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.LibrariesUsed))
                {
                    <div class="mb-2 row">
                        <div class="col-5 fw-bold text-start">Libraries Used:</div>
                        <div class="col-7 text-start">@Model.LibrariesUsed</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.LanguageUsed) && Model.LanguageUsed.ToLowerInvariant().Contains("c#"))
                {
                    <div class="mb-2 row">
                        <div class="col-5 fw-bold text-start">.NET Version:</div>
                        <div class="col-7 text-start">@Model.NetVersion</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.RepositoryType))
                {
                    <div class="mb-2 row">
                        <div class="col-5 fw-bold text-start">Code Repository:</div>
                        <div class="col-7 text-start"><a href="@Model.RepositoryUrl">@Model.RepositoryType</a></div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.DownloadUrl))
                {
                    <div class="mb-2 row">
                        <div class="col-5 fw-bold text-start">Download Binary:</div>
                        <div class="col-7 text-start"><a href="@Model.DownloadUrl">Download</a></div>
                    </div>
                }
            </div>
            <br />
        }
        else
        {
            @if (!string.IsNullOrWhiteSpace(Model.Platform))
            {
                <div class="bg-secondary text-white fs-5 fw-bold px-3 py-2 mt-2 rounded-top">
                    Project Details
                </div>
                <div class="bg-light text-dark rounded-bottom p-2 border">
                    <div class="mb-2 row">
                        <div class="col-5 fw-bold text-start">Platform:</div>
                        <div class="col-7 text-start">@Model.Platform</div>
                    </div>
                </div>
                <br />
            }
        }
        @if (Model.AdditionalLinks != null && Model.AdditionalLinks.Any())
        {
            <div class="bg-secondary text-white fs-5 fw-bold px-3 py-2 mt-2 rounded-top">
                Additional Links
            </div>
            <div class="bg-light text-dark rounded-bottom p-2 border">
                @foreach (var link in Model.AdditionalLinks)
                {
                    <div class="mb-2 row">
                        <a href="@link.LinkUrl">@link.LinkText</a>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div class="row py-2">
    <div class="col-6 offset-3">
        <div class="bg-secondary text-white fs-5 fw-bold px-3 py-2 mt-2 rounded-top">
            Project Description
        </div>
        <div class="bg-light text-dark rounded-bottom p-2 border">
            <p>@Model.Description</p>
        </div>
    </div>
</div>